/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/montserrat-v18-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v18-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v18-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v18-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/montserrat-v18-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v18-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v18-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/montserrat-v18-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v18-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v18-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v18-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/montserrat-v18-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v18-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Calibri Regular';
    src: url('../assets/fonts/Calibri.eot');
    src: url('../assets/fonts/Calibri.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Calibri.woff') format('woff'),
    url('../assets/fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
    font-family: 'Calibri Bold';
    src: url('../assets/fonts/Calibri-Bold.eot');
    src: url('../assets/fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Calibri-Bold.woff') format('woff'),
    url('../assets/fonts/Calibri-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }