* {
  font-family: "Calibri Regular", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
pre {
  margin: 0;
  padding: 0;
}

h2 {
  position: relative;
  margin: 20px 10px 35px 10px;
  font-size: 32px;
  text-shadow: 7px 7px 10px #c4c4c4;
}

h2:before {
  content: "";
  position: absolute;
  top: 45px;
  left: 0;
  width: 45px;
  height: 3px;
  background-color: #040404;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background-color: rgba(162, 89, 255, 0.6);
  padding: 35px;
  min-height: 100vh;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(3, 56, 244, 0.71)), to(rgba(224, 37, 206, 0.79)));
  background: linear-gradient(rgba(3, 56, 244, 0.71), rgba(224, 37, 206, 0.79));
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
  min-width: 320px;
  -webkit-box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);
}

.block {
  background: rgba(196, 196, 196, 0.3);
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 3px 5px 10px #000;
          box-shadow: 3px 5px 10px #000;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
  margin: 10px 15px;
  height: 100%;
  padding: 10px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 104px;
          flex: 0 0 104px;
  margin: 10px 15px;
}

.header__logo {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  padding: 15px;
  min-width: 250px;
}

.block {
  background: rgba(196, 196, 196, 0.3);
  border-radius: 5px;
}

.logo__wrapper {
  position: absolute;
  top: 55px;
  left: 120px;
  text-align: right;
}

.logo__logo {
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  font-family: Montserrat;
  letter-spacing: -15px;
  color: rgba(112, 168, 134, 0.8);
  text-shadow: -5px 5px 10px rgba(56, 56, 56, 0.6);
}

.logo__text {
  font-size: 22px;
  line-height: 25px;
  font-weight: bold;
  text-shadow: -5px 5px 5px rgba(56, 56, 56, 0.6);
}

.menu__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 85%;
          flex: 1 1 85%;
}

.cv__name {
  font-size: 72px;
  font-family: Montserrat;
  font-weight: 900;
  text-transform: capitalize;
  text-align: center;
}

.cv__position {
  font-size: 22px;
  line-height: 140%;
  text-align: center;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav {
  position: absolute;
  top: 260px;
  right: 13%;
  width: 30%;
  padding: 15px;
  background-color: #c4c4c4;
  border-radius: 5px;
  z-index: 1050;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 10px;
}

.menu__item {
  width: 90px;
  height: 25px;
  border-radius: 5px;
  margin: 5px;
  font-size: 24px;
  line-height: 142%;
  font-weight: 600;
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.menu__item:hover {
  background-color: rgba(64, 113, 247, 0.6);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.burger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__line {
  -webkit-transform-origin: 50%, 50%;
          transform-origin: 50%, 50%;
  height: 5px;
  width: 100%;
  background-color: #000;
}

#up.close {
  position: absolute;
  top: 50%;
  /* transform-origin: 50%, 50%; */
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

#down.close {
  position: absolute;
  top: 50%;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

#mid.close {
  display: none;
}

.about {
  min-height: 200px;
}

.about__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin-right: 20px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.about__photo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about__text {
  padding: 15px;
  line-height: 135%;
  font-size: 22px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
}

.contacts {
  margin-top: 25px;
}

.contacts__content {
  width: 100%;
  min-height: 60px;
  font-size: 22px;
}

.contacts__list {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contacts__item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
}

.contacts__item img::before {
  content: "";
  width: 25px;
  height: 25px;
}

.skills {
  width: 100%;
  margin-top: 25px;
  min-height: 150px;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__list:nth-child(2n+1) {
  margin-right: 20px;
}

.skills__item {
  margin-bottom: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.skills__item img {
  width: 30px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
}

.skills__name {
  height: 30px;
  font-size: 22px;
  line-height: 140%;
}

.skills__box {
  width: 90%;
  height: 6px;
  margin-top: 8px;
  background-color: rgba(196, 196, 196, 0.8);
}

.skills__progress {
  height: 100%;
  background-color: #1d28c2;
}

#HTML {
  width: 90%;
}

#CSS {
  width: 85%;
}

#JS {
  width: 75%;
}

#GIT {
  width: 45%;
}

#TS {
  width: 30%;
}

.lang {
  width: 100%;
  margin-top: 25px;
  min-height: 35px;
}

.lang__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lang__list:nth-child(2n + 1) {
  margin-right: 20px;
}

.lang__item {
  margin-bottom: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.lang__name {
  height: 30px;
  font-size: 22px;
  line-height: 140%;
}

.lang__box {
  width: 90%;
  height: 6px;
  margin-top: 8px;
  background-color: rgba(196, 196, 196, 0.8);
}

.lang__progress {
  height: 100%;
  background-color: #1d28c2;
}

#eng {
  width: 40%;
}

#rus {
  width: 90%;
}

#by {
  width: 85%;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 10px 15px;
}

.footer__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  height: 37px;
  width: 100px;
  margin: 20px 0;
}

.social img {
  max-width: 100%;
  height: auto;
}

.back:hover {
  cursor: pointer;
}

.back:hover img {
  width: 100%;
  height: auto;
}

.back {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: rgba(196, 196, 196, 0.6);
  position: fixed;
  bottom: 70px;
  right: 70px;
}

.back:hover {
  cursor: pointer;
}

.back img {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}
