.about {
  min-height: 200px;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &__photo {
    flex: 0 1 40%;
    margin-right: 20px;
    align-self: stretch;
    & img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  &__text {
    padding: 15px;
    line-height: 135%;
    font-size: 22px;
    flex: 1 1 60%;
  }
}