.contacts {
  margin-top: 25px;
    &__content {
      width: 100%;
      min-height: 100px;
    }

    &__list {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }

    &__item {
    }
}
.block {
}
