.edu {
  margin-top: 25px;

  &__list {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    // flex-direction: column;
    flex-wrap: wrap;
    font-size: 22px;
    line-height: 135%;
  }

  &__item {
    margin: 15px 0;
    line-height: 150%;
    flex: 1 1 50%;
    & span {
      font-weight: bold;
      position: relative;
      &:before{
        content: "";
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: -40px;
        background-image: url("../assets/svg/edu.svg");
      }
    }
  }
}
