.footer {
  flex: 0 0 auto;
  margin: 10px 15px;

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.social {
  height: 37px;
  width: 100px;
  margin: 20px 0;
  & img {
    max-width: 100%;
    height: auto;
  }
}
.back:hover {
  cursor: pointer;
  &  img {
  width: 100%;
  height: auto;
}

}