.lang {
  width: 100%;
  margin-top: 25px;
  min-height: 35px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
  }

  &__item {
    margin-bottom: 12px;
    flex: 0 1 50%;
  }

  &__name {
    height: 30px;
    font-size: 22px;
    line-height: 140%;
  }

  &__box {
    width: 90%;
    height: 6px;
    margin-top: 8px;
    background-color: rgba(196, 196, 196, 0.8);
  }

  &__progress {
    height: 100%;
    background-color: rgb(29, 40, 194);
  }
}
#eng {
  width: 40%;
}
#rus {
  width: 90%;
}
#by {
  width: 85%;
}

