:root {
  --main-bg-color: #1D2021;
  --second-bg-color: #3C3836;
  --btn-bg-color: #D5C4A1;
  --title-color:#FB4934;
  --section-hash: #8EC07C;
  --article-title: #83A598;
  --accent: #FE8019;
  --font-color: #ffffff;
  --ff: 'Roboto Mono';
}
