:root {
  --var-mainbgcolor: #1D2021;
  --var-secondbgcolor: #3C3836;
  --var-btnbgcolor: #D5C4A1;
  --var-titlecolor:#FB4934;
  --var-section-title: #8EC07C;
  --var-article-title: #83A598;
  --var-accent: #FE8019;
  --var-fontcolor: #ffffff;
}
